.imageHedre{
    max-width: 1500px;
    backdrop-filter: blur(200px);
    margin-top: 1px;
    z-index: -10;
    overflow: hidden;
    opacity: 1;

} .imageHedre img{
    width: 1400px;
    backdrop-filter: blur(25px);
    object-fit: cover;
    max-height: 100px;
    margin-left: 20px;
   opacity: .6;
    
    
}
.wlcom{
    display: none;
   
}

@media screen and (max-width:786px){
    .imageHedre img{
       display: none;
    }
   .wlcom{
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 40px;
        justify-content: center;
        display: flex;
    }
}